<template>
    <div>
        <video ref="player" class="player" :poster="thumbnail" :src="video" controls>
            <source :src="video">
        </video>
<div class="modal" ref="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title text-primary" id="exampleModalLabel">Complete Activity to Access Next Video </h5>
      </div>
      <div class="modal-body" v-html="activity">
        
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>        
    </div>
</template>

<script>
import Plyr from 'plyr';
import jQuery from 'jquery'
    export default {
        props:{
            title:String,
            video:String,
            thumbnail:String,
            activity:String
        },
        data() {
            return {
                options:{
                    title:this.title
                },
                player:{},
                isSeeking:false,
            }
        },
        mounted() {
            this.player = new Plyr(this.$refs.player);
            this.PlayerOnSeeking();
            this.PlayerOnEnd();
        },
        methods: {
            PlayerOnSeeking(){
                this.player.on('seeking',event=>{
                    this.isSeeking  = event;
                })
            },
            PlayerOnEnd(){
                this.player.on('ended',event=>{
                    jQuery(this.$refs.exampleModal).modal("show")
                })
            },
        },
    }
</script>
<style>
    .player{
    width: 100%;
    height: 200px;   
    }
</style>
